@import "tailwindcss";

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}

.custom-scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-clear-button {
  display: none !important;
}

input[type="text"]::-webkit-clear-button {
  display: none !important;
}

html,
body {
  max-width: 100%;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap"); */

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: "Lato";
  --ck-sidebar-width: 270px;
  --ck-editor-height: 700px;
}


